body {
    background-color: white;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/70/844/929/minimalism-figure-background-art-cartoon-hd-wallpaper-preview.jpg");
}
h1 {
    font-family: 'Courier New', monospace;
    font-weight: bold;
    text-shadow: 1px 1px;
    background-color: goldenrod;
    text-align: center;
    margin-top: 3%;
    margin-left: 6%;
    margin-right: 6%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h3 {
    font-family: 'Courier New', monospace;
    font-weight: bold;
}
#div1 {
    background-color: grey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    
}
#testi {
    background-color: aquamarine;
}
.col {
    margin: 3%;
    background-color: goldenrod;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 25px;
}
#tehtava1 {
    font-weight: bold;
    background-color:white;
    border-radius: 10;
    border: 4px;
}
#tehtava2 {
    font-weight: bold;
    background-color: white;
    border-radius: 10;
}
#tehtava3 {
    font-weight: bold;
    background-color: white;
    border-radius: 10;
}
footer {
    font-family: 'Courier New', monospace;
}