h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: gold;
    text-align: center;
    margin: 1%;
}
#div1 {
    background-color: grey;
    
}
#testi {
    background-color: aquamarine;
}